.contact h1{
    color: blue;
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
}

header a:link{
    color: white;
    background-color: grey;
}

header a:hover{
    color: yellow;
    background-color: black;
}

header a:visited{
    color: grey;
    background-color: black;
}

header ul{
    padding: 10px;
    margin: 10px;
}

footer div {
    color: white;
    background-color: aquamarine;
}
.contact main{
    text-align: center;
    font-family: monospace;
}

.contact body{
    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;
}

.contact button[type="submit"]{
    margin-right: 430px;
    margin-top: 10px;
}

.contact fieldset>legend{
    text-transform: uppercase;
    text-align: left;
    padding: 0;
}

.contact ul{
    list-style: none;
    text-align: left;
    padding: 0;
}


.contact ul li{
    padding: 0;
    margin: 0;
}


.contact #fieldset-connaissances{
    color: red;
    background-color: rgb(185, 190, 254);
}